<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_icon"
        android:label="Sanjivani Mentor Meet 2"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mentor_meeting"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UploadCertificateActivity"
            android:exported="false" />
        <activity
            android:name=".CourseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewMenteesActivity"
            android:exported="false" />
        <activity
            android:name=".AddMenteeActivity"
            android:exported="false" />
        <activity
            android:name=".FetchActivityStudent"
            android:exported="false" />
        <activity
            android:name=".FetchBatchActivity"
            android:exported="false" />
        <activity
            android:name=".AddBatchActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".SelectUserActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>